<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases> <!-- 엘리어스 별칭 -->
  		<typeAlias type="com.winter.app.regions.RegionDTO" alias="RegionDTO"/>
  		<typeAlias type="com.winter.app.departments.DepartmentDTO" alias="DepartmentDTO"/>
  		<typeAlias type="com.winter.app.util.Pager" alias="Pager"/>
  		<typeAlias type="java.lang.Long" alias="long"/>
  		
  		
  	</typeAliases>
  </configuration>