<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper namespace는 비우면 에러 -->
  <!-- mapper namespace는 중복 불가  -->
  <!-- 해당 mapper르 사용할 DAO의 풀페키지명으로 작성 -->
  <mapper namespace="com.winter.app.regions.RegionDAO">
  
  	<!--DELECT -->
 	<delete id="delete" parameterType="com.winter.app.regions.RegionDTO">
 		DELETE REGIONS WHERE REGION_ID = #{region_id} 		
 	</delete> 
  
  	<!-- update -->
  	<update id="update" parameterType="com.winter.app.regions.RegionDTO">
  		UPDATE REGIONS SET REGION_NAME = #{region_name}
  		WHERE REGION_ID=#{region_id}
  	</update>
  	
  	<!--  add  -->
  	<insert id="add" parameterType="com.winter.app.regions.RegionDTO">
  			INSERT INTO REGIONS 
  			VALUES (#{region_id}, #{region_name})
  	</insert>
  
  	<!--  detail -->
  	<!-- id는 DAO의 매서드명으로 작성하시오 -->
  	  	
  	<select id="getDetail" resultType="com.winter.app.regions.RegionDTO" parameterType="com.winter.app.regions.RegionDTO">
  		SELECT * FROM REGIONS WHERE REGION_ID = #{region_id} <!--  sql 컴럼명과 변수의 이름이 일치하면 땅겨옴 -->
  	</select>
  	
  	
  	<!-- list  -->
  	<select id="getList" resultType="com.winter.app.regions.RegionDTO">
  		SELECT * FROM REGIONS
  	</select>
  	
  </mapper>  	