<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper namespace는 비우면 에러 -->
  <!-- mapper namespace는 중복 불가  -->
  <!-- 해당 mapper르 사용할 DAO의 풀페키지명으로 작성 -->
  <mapper namespace="com.winter.app.regions.RegionDAO">
  
  	<!--  -->
  	<sql id="search3">
  	<!-- TITLE, CONTENTS, WRITER -->
 		 WHERE 
 		 <choose>
 		 	<when test="kind=='kind1'">
 		 		 TITLE LIKE '%'||#{search}||'%' 
 		 	</when>
 		 	<when test="kind=='kind2'">
 		 		 CONTENTS LIKE '%'||#{search}||'%' 
 		 	</when> 		 	
 		 	<otherwise>
 		 		WRITER LIKE '%'||#{search}||'%'
 		 	</otherwise> 		 
 		 
 		 </choose>
 		 	
		 		 
  	</sql>
  	
  	<sql id="search2">
  	<!-- TITLE, CONTENTS, WRITER -->
 		 <where>
 		 <if test="kind=='kind1' or kind==kind4">
 		 TITLE LIKE '%'||#{search}||'%' 
 		 </if>		
 		 <if test="kind=='kind2' or kind==kind4">
 		 OR CONTENTS LIKE '%'||#{search}||'%' 
 		 </if>

 		 <if test="kind=='kind3' or kind==kind4">
  		 OR WRITER LIKE '%'||#{search}||'%'
 		 </if>
 		 		 
 		 </where>
 		 
		 		 
  	</sql>
  	
  	<sql id="search">
  		 WHERE REGION_NAME LIKE '%'||#{search}||'%' 
  	</sql>
  	
  	
  
  	<!--DELECT -->
 	<delete id="delete" parameterType="RegionDTO">
 		DELETE REGIONS WHERE REGION_ID = #{region_id} 		
 	</delete> 
  
  	<!-- update -->
  	<update id="update" parameterType="RegionDTO">
  		UPDATE REGIONS SET REGION_NAME = #{region_name}
  		WHERE REGION_ID=#{region_id}
  	</update>
  	
  	<!--  add  -->
  	<insert id="add" parameterType="RegionDTO">
  			INSERT INTO REGIONS 
  			VALUES (#{region_id}, #{region_name})
  	</insert>
  
  	<!--  detail -->
  	<!-- id는 DAO의 매서드명으로 작성하시오 -->
  	  	
  	<select id="getDetail" resultType="RegionDTO" parameterType="RegionDTO">
  		SELECT * FROM REGIONS WHERE REGION_ID = #{region_id} <!--  sql 컴럼명과 변수의 이름이 일치하면 땅겨옴 -->
  	</select>
  	
  	
  	<!-- list  -->
  	<select id="getList" resultType="RegionDTO" parameterType="Pager">
  		SELECT * FROM 
			(
				SELECT ROWNUM R, RG.* FROM
					(	
						SELECT * FROM REGIONS 
						 <include refid="search" />
						ORDER BY REGION_ID DESC
					) RG
			)
			WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<!-- getTotal  -->
  	<select id="getTotal" resultType="long" parameterType="Pager">
  	
  		SELECT COUNT(REGION_ID) FROM REGIONS
  		<include refid="search" />
  		
  	</select>
  	
  	
  </mapper>  	